<app-card title="Primeiro Componente" color="#3D4D63">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>
<app-card title="Aprofundando o conhecimento em Templates" color="#B2E7E8">
    <app-segundo-componente></app-segundo-componente>
</app-card>
<app-card title="PIPES" color="#BFB9AA">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>
<app-card title="Two-way Data Binding" color="#F2D096">
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<app-card title="Renderizando Listas" color="#ED8975">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>
<app-card title="Componentes Personalizados (@Input - @Output)" color="#FFE3DC">
    <app-componente-personalizado name="John" lastName="Wick"></app-componente-personalizado>
    <app-componente-personalizado name="James" lastName="Bond"></app-componente-personalizado>
</app-card>
<app-card title="Interação entre Componentes" color="#A2AD91">
    <app-componente-pai></app-componente-pai>
</app-card>
<app-card title="Serviços" color="#3A2D32">
    <app-exemplo-servico1></app-exemplo-servico1>
    <app-exemplo-servico2></app-exemplo-servico2>
</app-card>
<app-card title="Ciclo de Vida (OnInit - OnChange - OnDestroy)">
    <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>

